:root {
    font-family: 'Roboto', 'Arial', sans-serif;
    --main-color: #5E6FE3;
    --main-color-hover: #6e7de0;
    --img-radius: 20px;
}

.title {
    font-size: 3em;
}

.highlight-text {
    color: var(--main-color);
}

.highlight-bg {
    background-color: var(--main-color);
}

.highlight-bg:hover {
    background-color: var(--main-color-hover);
}

.white-text {
    color: white;
}

.img {
    width: 100%; /* prendra 100% de la largeur tout dépendra min-width et max-width */
    max-width: 800px; /* ne dépassera jamais 800px */
}

.img-format {
    border-radius: var(--img-radius);
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}

.container {
    display: flex; /* or inline-flex */
}

.content-block { 
    margin: auto;
    margin-left: 15px;
}

@media (max-width: 700px) and (orientation: portrait) {
    /* les styles pour cette configuration */
    .container {
        flex-direction: column;
    }

    .content-block {
        margin: auto;
    }
}